
.main-login{
    content: "";
    position: absolute;
    height: 800px;
    width: 800px;
    background-color:  #38498d;
   
  }
  a{
    padding: 2px 5px;
    text-decoration: none;
    color: white;
   }

a:hover{
      color: grey;
 }


//   .login-contain{
//     padding-top: 10vh;
//     padding-bottom: 5vh;
//     padding-left: 5vh;
//     padding-right: 5vh;
//     min-height: 30vh;
//     max-width: 50vh;
//     overflow-x: hidden;

//    position: absolute;
//     left:900px;
//     top: 150px;
// }





