.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 700px;
    min-height: 600px;
    /* background-color: rgba(127, 127, 214, 0.6); */
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px; 
  }
  .todo-list{
     list-style-type: none;
    padding-left: 0;
    margin-left: 15px;
   

  }
  .todo{
    width: 200px;
    min-height: 100px;
    background-color: rgba(245, 245, 255, 0.6);
  }