$main-color: #FFCC99;



.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
     width: 700px;
     min-height: 600px; 
    //  background-color: rgba(127, 127, 214, 0.6); 
    text-align: center;
     margin: 128px auto; 
    border-radius: 10px;
    padding-bottom: 32px; 
}

